<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Vuelos Guacamaya</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">VUELOS GUACAMAYA</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#">Vuelos</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Aviones
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Mantenimiento</a></li>
            </ul>
          </li>
          <li><a href="/airport">Aeropuertos</a></li>
          <li><a href="#">Venta de pasajes</a></li>
          <li><a href="/rutas">Rutas de vuelo</a></li>
          <li><a href="#">Administración</a></li>
        </ul>
      </div>
      </nav>
  </header>
    <div class="container">
      {{{ body }}}  
    </div>
  </body> 
</html>