<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<title>Aerolineas Guacamaya</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div><a href="#" class="navbar-brand mx-auto">Aerolineas Guacamaya</a>
      </div>
    </nav>

    <div class="row">
      <div class="col-md-6 mt-4 text-center">
        <table class="table table-striped table-bordered">
          <tr>
            <th><b>Aeropuerto (IATA)</b></th>
            <th><b>Ciudad</b></th>
            <th><b>Pais</b></th>
          </tr>
          <tr>
            <th>ATL</th>
            <th>Atlanta</th>
            <th>Estados unidos</th>
          </tr>
          <tr>
            <th>CCS</th>
            <th>Caracas</th>
            <th>Venezuela</th>
          </tr>
          <tr>
            <th>CDG</th>
            <th>Paris</th>
            <th>Francia</th>
          </tr>
          <tr>
            <th>DXB</th>
            <th>Dubai</th>
            <th>Emiratos Arabes Unidos</th>
          </tr>
          <tr>
            <th>JFK</th>
            <th>New York</th>
            <th>Estados unidos</th>
          </tr>
          <tr>
            <th>MIA</th>
            <th>Miami</th>
            <th>Estados unidos</th>
          </tr>
        </table>
      </div>

      <div class="col-md-6 mt-4 card">
        
      </div>
    </div>
  </body>
</html>