<h2>Aeropuertos de la aerolínea</h2>

<div class="row">
    <div class="col-md-6 text-center">
        <table class="table">
            <thead>
                <tr>
                    <th><center>Código IATA</center></th>
                    <th><center>Ciudad</center></th>
                    <th><center>País</center></th>
                </tr>
            </thead>
            <tbody>
                {{#each airport}}
                <div class="airport">
                <tr>
                    <td>{{codigo_iata}}</td>
                    <td>{{ciudad}}</td>
                    <td>{{pais}}</td>
                </tr>
                </div>
                {{else}}
                <tr>No hay aeropuertos aún. Agregue un aeropuerto</tr>
                {{/each}}
            </tbody>
        </table>
    </div>
          
    <div class="col-md-6 card">
        <h3>Opciones</h3>
        <div class="btn-group">
            <a href="/airport/add" class="btn btn-default" role="button">Agregar</a>
            <a href="/airport/borrar" class="btn btn-default" role="button">Eliminar</a>
            <a href="/airport/pistas" class="btn btn-default" role="button">Ver pistas de aterrizaje</a>
        </div>
    </div>
</div>